In [ ]:
# importing matplotlib
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
# importing everthing not sqlalchemy or matplotlib
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

## Reflecting Tables

In [ ]:
# reflecting
Base = automap_base()
Base.prepare(engine, reflect=True)

In [ ]:
# getting names of tables
Base.classes.keys()

In [ ]:
# saving references
Measurement = Base.classes.measurement
Station = Base.classes.station

In [ ]:
session = Session(engine)

# Exploring Precipitation Analysis

In [ ]:
# lets look at what tables look like
measurement_f = session.query(Measurement).first()
measurement_f.__dict__

In [ ]:
station_f = session.query(Station).first()
station_f.__dict__

In [ ]:
# i am looking to find the earliest date
early_days = session.query(Measurement.date).order_by(func.strftime('%Y-%m-%d', Measurement.date)).all()

In [ ]:
earliest_date = early_days[0][0]
earliest_date

## i want the last 12 months of precipitation data and plot it

In [ ]:
# this is the last day in the dataset
latest_date = early_days[-1][0]
latest_date

In [ ]:
# finding a year ago
a_year_ago = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print(a_year_ago)

In [ ]:
# i want to see a list of stations
# station_list = session.query(Measurement.station).distinct().all()
# my_station = station_list[5][0]
# my_station

In [ ]:
# i am going to run my query then pop it into a data frame
state = session.query(Measurement.date, Measurement.prcp).\
    filter(func.strftime('%Y-%m-%d', Measurement.date) > a_year_ago).statement

rain = pd.read_sql_query(state, session.bind)

In [ ]:
rain.date = pd.to_datetime(rain.date, format='%Y-%m-%d')

In [ ]:
rain.set_index('date', inplace=True)
rain.head()

In [ ]:
rain.dtypes

In [ ]:
rain.head()

In [ ]:
# there were some na's in there. I think it was giving me some troubles with plotting
# rain = rain.dropna()
# rain = rain.drop_duplicates(subset=['date'], keep='last')

In [ ]:
rain.sort_index()

In [ ]:
rain.count()

In [ ]:
rain

In [ ]:
# Plotting chart

rain.plot(figsize=(10,5), title='Precipitation')
plt.xlabel('Date')
plt.ylabel('Inches')
plt.show()

In [ ]:
# plt.figure(figsize=(12,5))
# plt.bar(rain.date, rain.prcp)
# plt.show()

In [ ]:
# summary statisics
rain.describe()

In [ ]:
session.close()